<div class="container mt-4">
    <div class="card mb-4 detaile-container">
        <div class="container-fliud">
            <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post" action="">
                <div class="wrapper row">
                    <div class="preview col-6">
                        <ul class="preview-thumbnail nav nav-tabs">
                            <img class="detail-img" src="{{courses.img}}" alt="">
                        </ul>
                    </div>
                    <div class="details col-6">
                        <h3 class="product-title">{{courses.name_content}}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no font-weight-bold">999 reviews</span>
                        </div>
                        <h4 class="price">Giá hiện tại: <span>{{courses.total}}</span></h4>
                        <p class="vote"><strong>100%</strong> hàng <strong>Chất lượng</strong>, đảm bảo
                            <strong>Uy
                                tín</strong>!</p>

                        <span class="intro">
                            {{courses.detail}}
                        </span>

                        <div class="action">
                            <a class="add-to-cart btn" id="btnThemVaoGioHang" href="/cart/add-cart/{{courses._id}}">Thêm vào giỏ hàng</a>
                            <a class="like btn" href="#"><span class="fa fa-heart"></span></a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <table class="detail-table">
            <tr class="detail-table-tr">
                <th class="detail-table-th">Bộ máy &amp; Năng lượng</th>
                <td class="detail-table-td">
                    <p>Năng Lượng Ánh Sáng</p>
                </td>
            </tr>

            <tr>
                <th>CHẤT LIỆU MẶT KÍNH</th>
                <td>
                    <p>Kính saphia</p>
                </td>
            </tr>

            <tr>
                <th>HÌNH DẠNG MẶT SỐ</th>
                <td>
                    <p>Tròn</p>
                </td>
            </tr>

            <tr>
                <th>Thương Hiệu</th>
                <td>
                    <p>CASIO</p>
                </td>
            </tr>

            <tr>
                <th>XUẤT XỨ</th>
                <td>
                    <p>Nhật Bản</p>
                </td>
            </tr>

            <tr>
                <th>KÍCH THƯỚC MẶT SỐ</th>
                <td>
                    <p>40 – 43 mm</p>
                </td>
            </tr>

            <tr>
                <th>MỨC CHỐNG NƯỚC</th>
                <td>
                    <p>Đi Mưa Nhỏ (3 ATM)</p>
                </td>
            </tr>

        </table>
    </div>
</div>


