<div id="form-creat">
    <p class="creat-title">SỬA SẢN PHẨM</p>
    <form class="form-creat" method="post" action="/courses/update/{{courses._id}}?_method=PUT">
        
        <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control bord" name="name_content" value="{{courses.name_content}}"/>
            <label class="form-label" for="form6Example3">Tên sản phẩm</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form6Example4" class="form-control bord" name="total" value="{{courses.total}}"/>
            <label class="form-label" for="form6Example4">Giá sản phẩm</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form6Example5" class="form-control bord" name="img" value="{{courses.img}}"/>
            <label class="form-label" for="form6Example5">Hình ảnh</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" id="form6Example4" class="form-control bord" name="type" value="{{courses.type}}"/>
            <label class="form-label" for="form6Example6">Loại sản phẩm</label>
        </div>

        <div class="form-outline mb-4">
            <textarea class="form-control bord" id="form6Example7" rows="4" name="detail" value="">{{courses.detail}}</textarea>
            <label class="form-label" for="form6Example7">Mô Tả sản phẩm</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4 btn-creat">XÁC NHẬN</button>
    </form>
</div>